*{margin: 0;padding: 0;}
style{display: none;}

#footer {list-style: none; text-decoration: none;}
#footer {background-color: #eee; width: 100%; height:150px; display: flex; position: relative; }
#footer .flogo { width: 80px;  position: absolute; top: 50px; left: 20px;}
#footer .flogo img{width:100%;}

#footer .info{position: absolute; left: 30%; top: 30px; padding-right: 5%; }
#footer .info address {font-size: 0.7em; font-style: normal; text-align: center;  }
#footer .info .copy {font-size: 0.5em; text-align: center}
#footer .snsli {position: absolute; left: 30%; list-style: none; top: 95px;  display: flex; }
#footer .snsli img {width: 30px;padding-left: 30px;}