@import url(../css/header.css);
@import url(../css/footer.css);

a {
    text-decoration: none;
    color: #333;
}
body {
    font-family: 'Gowun Batang';
    
}
li {list-style: none;}

*{margin: 0;padding: 0;}

#container {width: 100%; height: auto;position: relative;}

.tab {
overflow: hidden;
border-top: 1px solid #ccc;
border-bottom: 1px solid #ccc;

display: flex;
justify-content: space-around;
}

/* Style the buttons that are used to open the tab content */
.tab button {
width: 30%;

float: left;
border: none;
outline: none;
cursor: pointer;
padding: 14px 16px;
font-family: 'Gowun Batang';
font-weight: 400;
font-size: 17px;
color: #333;
background-color: #fff;
}



/* Create an active/current tablink class */
.tab button.active {
font-weight: 900;
}

/* Style the tab content */
.tabcontent {
display: none;
border-top: none;
}


.tabcontent.active {
display: block;
}


#container .menu {
    width: 100%; 
    height: 125px; 
    margin: 0 auto; 
    position: relative; 
}

#container h1{
    margin: 0 auto;
    text-align: center;
    padding-top: 50px; 
    font-size: 1.4em; 
    font-family: 'Times New Roman';
    color: #666666;
    margin-bottom: 5px;

}

#container .menubox{
    width: 100%; 
    height: 40px;
    margin: 0 auto; 

    display: flex;
    justify-content: space-around;
    border-top: 2px solid #dfdfdf;
    border-bottom: 2px solid #dfdfdf;

}

#container .menubox li {
    width: 25%; 
    height: 50px;  
    float: left;
    list-style: none;
    line-height: 40px;


    
}


#container .menubox li a{
    display: block; 
    width: 100%; 
    text-align: center; 
    font-size: 0.9em; 
    color: #5c5c5c; 
    text-decoration:none; 
    font-family:'Times New Roman'; 
    font-weight: 700;
    
}

#container .menubox li a:hover{
    font-size: 1em; 

    font-weight: 900;
}




/* cake tab style */
.cake {
    width: 100%;
    height: auto;
    margin: 30px auto;
    background-color: #5c5c5c;

}

.cake > ul {
    width: 95%;
    margin: 0 auto;
}

.cake > ul > li {
    width: 44%;
    float: left;
    margin: 3%;
    margin-top: 10px;
    border-radius: 10px;
    
}

.cake > ul > li:hover h2{
    font-weight: 600;
}

.cake img { 
    width: 100% ;
    border-radius: 10px;
}

.cake img:hover {
    opacity: 0.7;
    transition: 0.5s;
}

.cake .price {
    width: 100%;
    height: 100px;
    position: relative;
    
}
.cake .price h2{
    font-size: 15px;
    font-family:'Times New Roman'; 
    color: #666666;
    font-weight: 400;
    margin-bottom: 20px;
}

.cake .price p {
    font-family: sans-serif; 
    font-weight: 600;
    position: absolute;
    
}



/* tart tab style */
.tart {
    width: 100%;
    height: auto;
    margin: 30px auto;
    background-color: #5c5c5c;

}

.tart > ul {
    width: 95%;

    margin: 0 auto;
}

.tart > ul > li {
    width: 44%;
    float: left;
    margin: 3%;
    margin-top: 10px;
    
}

.tart > ul > li:hover h2{
    font-weight: 600;
}

.tart img { 
    width: 100% ;
    border-radius: 10px;
}

.tart img:hover {
    opacity: 0.7;
    transition: 0.5s;
}

.tart .price {
    width: 100%;
    height: 100px;
    position: relative;
    
}
.tart .price h2{
    font-size: 15px;
    font-family:'Times New Roman'; 
    color: #666666;
    font-weight: 400;
    margin-bottom: 20px;
}

.tart .price p {
    font-family: sans-serif; 
    font-weight: 600;
    position: absolute;
    
}


/* drink tab style */
.drink {
    width: 100%;
    height: auto;
    margin: 30px auto;
    background-color: #5c5c5c;

}

.drink > ul {
    width: 95%;
    margin: 0 auto;
}

.drink > ul > li {
    width: 44%;
    float: left;
    margin: 3%;
    margin-top: 10px;
    border-radius: 10px;
    
}

.drink > ul > li:hover h2{
    font-weight: 600;
}

.drink img { 
    width: 100% ;
    border-radius: 10px;
}

.drink img:hover {
    opacity: 0.7;
    transition: 0.5s;
}

.drink .price {
    width: 100%;
    height: 100px;
    position: relative;
    
}
.drink .price h2{
    font-size: 15px;
    font-family:'Times New Roman'; 
    color: #666666;
    font-weight: 400;
    margin-bottom: 20px;
}

.drink .price p {
    font-family: sans-serif; 
    font-weight: 600;
    position: absolute;
    
}


.morebox {
    width: 100%;
    height: 100px;
    float: left;
}
.more {
    width: 100px; 
    height: 30px; 
    cursor: pointer;
    border: 1px solid #d8d8d8;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    font-family:'Times New Roman'; 
    color: #5c5c5c;
}

.morebox2 {
    width: 100%;
    height: 100px;
    float: left;
}
.more2 {
    width: 100px; 
    height: 30px; 
    cursor: pointer;
    border: 1px solid #d8d8d8;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    font-family:'Times New Roman'; 
    color: #5c5c5c;
}

.morebox3 {
    width: 100%;
    height: 100px;
    float: left;
}
.more3 {
    width: 100px; 
    height: 30px; 
    cursor: pointer;
    border: 1px solid #d8d8d8;
    border-radius: 30px;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
    font-family:'Times New Roman'; 
    color: #5c5c5c;
}

.cakelist {
    display: none;
}

.tartlist {
    display: none;
}

.drinklist {
    display: none;
}